/* ==============================
=            PREVIEW            =
============================== */

.preview {
  display: flex;
  flex-direction: column;
  height: $total-quill-height;

  .preview__heading {
    border: 1px solid #ccc;
    box-sizing: border-top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $toolbar-height + 5px;
    padding: 8px 8px 8px 32px;

    .preview__heading__copy-to-clipboard-button {
      border: 1px solid hsl(0, 0, 90%);
      cursor: pointer;
      font-size: 80%;
      padding: 4px 8px;
      text-align: center;
      transform: translateY(1px);
      user-select: none;
      width: 125px;

      &:hover {
        border-color: hsl(0, 0, 70%);
      }

      &:active {
        border-color: green;
      }

      &.preview__heading__copy-to-clipboard-button--copied {
        border: none;
        cursor: default;
        font-weight: 600;
      }
    }
  }

  .preview__content {
    border: 1px solid #ccc;
    border-top: none;
    font-family: 'Courier New', monospace;
    font-size: 80%;
    width: 100%;
  }
}

/* ====  End of PREVIEW  ===== */
